<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"


       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="captchaMap" class="java.util.concurrent.ConcurrentHashMap"/>
    <bean id="captchaHandler" class="com.epam.Vadym_Vlasenko.eShop.service.captcha.SessionCaptchaHandler"/>
    <bean id="localeHolder" class="com.epam.Vadym_Vlasenko.eShop.web.localization.SessionLocaleHolder"/>

    <context:component-scan base-package="com.epam.Vadym_Vlasenko.eShop.db.dao"/>
    <context:component-scan base-package="com.epam.Vadym_Vlasenko.eShop.service"/>
    <context:component-scan base-package="com.epam.Vadym_Vlasenko.eShop.web"/>

    <import resource="hibernate.xml"/>

</beans>